root {
	display: block;
	margin: 0 auto;
	width: 1000px;
}

body
{
    width: 1000px;
    margin: 0 auto;
    padding-left: 200px;
    background-image: url(images/fondo.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    height: 100%;
}

h2
{
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #339;
    display: block;   
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 800px;
    font-family: 'Times New Roman',Times,serif;
}

div
{
    color: #F3F3F3;
    display: block;
    font-family: 'Times New Roman',Times,serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 3px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 750px;
    text-align:justify;
    text-justify:inter-word;
}

li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.cursivo
{
    color: #F3F3F3;
    display: block;
    font-family: 'Times New Roman',Times,serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-top: 3px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 750px;
    text-align:justify;
    text-justify:inter-word;
}

button.submit{
   margin-left: 320px;
   padding: 9px 30px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   line-height: 1;
   color: #444;
   border: none;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
   background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
   
}

button.submit:hover {
    opacity:.55;
    cursor: pointer; 
    color: #fff;
}

button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset; 
}